{% extends 'base.html' %}
{% block title %}
    Book List
{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Book List for Test</h3>
            </div>
        </div>

        <div class="row">
            <div class="col"></div>
            <div class="col">
                <a href="{% url 'book:create' %}" class="btn btn-primary">Make Book</a>
            </div>
        </div>
        <div class="row">
            <div class="list-group">
                {% for book in books %}
                    <a href="{% url 'book:book' book.id %}" class="list-group-item">
                        <h4>{{ book.title }}</h4>
                        <p>{{ book.content }}</p>
                    </a>
                {% endfor %}
            </div>
        </div>

    </div>

{% endblock %}