{% extends 'base.html' %}


{% block title %}{% endblock %}

{% block css %}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h3>{{ sentence.content }}</h3>
            </div>
        </div>
        <div class="row">
        <div class="col">
        <form action="{% url 'post:create_comment' book.id sentence.id sentence.line_id sentence.line_id %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="content">Post 작성하기</label>
                <textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
            <div class="row form-group">
                <div class="col col-sm-10"></div>
                <div class="col col-sm-2">
                    <input type="submit" class="btn btn-success form-control" value="Post Comment">
                </div>
            </div>
        </form>
        </div>
        </div>


        <div class="list-group">
            {% for comment in comments %}
                <a href="" class="list-group-item">
                    <div class="row">
                        <div class="col col-sm-8">
                            <p>{{ comment.content }}</p>
                        </div>
                        <div class="col-sm-2">
                            <form action="{% url 'post:comment' book.id sentence.id comment.id %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="hidden" name="_method" value="delete">
                                    <input type="submit" class="form-control btn btn-danger" value="DELETE">
                                </div>
                            </form>
                        </div>
                        <div class="col col-sm-2">
                            <form action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="submit" class="form-control btn btn-success" value="Modify">
                                </div>
                            </form>
                        </div>
                    </div>
                </a>
            {% endfor %}

        </div>

    </div>



{% endblock %}